body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #272727;
    box-sizing: border-box;
    line-height: 1.5;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

/* ===== Typography ===== */
/* 'Mobile-first' approach */
.title,
.subtitle {
    margin: 0;
    text-align: center;
}

/* ===== Navigation Bar ===== */
/* 'Mobile-first' approach */

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    background-color: rgb(236, 236, 236);
}

.nav-link {
    color: #2c4c75;
    text-decoration: none;
    padding: 1em 1.5em;
    font-size: 1rem;
    font-weight: 700;
    background: #dddddd;
    border-radius: .5em;
    margin-left: .5em;
    margin-top: .5em;
}

.nav-link:hover,
.nav-link:focus {
    color: blue;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: .5em;
}

.current-page {
    text-decoration: underline;
}

.current-page:hover,
.current-page:focus {
    color: #2c4c75;
}

/* Responsive Design for non-mobile screens */
@media (min-width: 600px) {
    .nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .title,
    .subtitle {
        text-align: left;
    }

    nav {
        flex-direction: row;
    }

    .nav-link {
        font-size: 1.25rem;
    }

}

/* ===== Main Content ===== */
.container {
    max-width: 1000px;
    margin: 0 auto;
}

.about-us {
    padding: 3em;
}

/* == Form == */
#info-form,
#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    border: .25em steelblue solid;
    border-radius: 1em;
    margin: 2em auto;
    width: 50%;
}

/* only the login should be shown to start */
#info-form {
    display: none;
}

#info-form > *,
#login-form > * {
    margin: .5em auto;
}

.form-chunk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    text-align: center;
}

.info-input,
.login-input {
    margin-left: .5em;
    width: 50%;
}

.form-chunk label {
    font-weight: 400;
}

.form-title {
    font-weight: 700;
    font-size: 1.3rem;
}

.text-capital {
    text-transform: capitalize;
}

.info-submit-btn {
    font-size: .875rem;
    padding: .3em .5em;
}

/* ===== Footer ===== */
footer {
    padding: 2em;
    text-align: center;
    background-color: rgb(106, 140, 168);
}

.footer-title {
    margin-bottom: 1em;
}

@media (min-width: 600px) {
    .form-chunk {
        flex-direction: row;
        text-align: left;
    }
}
